.shortlists {
    margin-top: 5px;
    padding: 0 6rem;

    .proj {
        background-color: #fff;
        border-radius: 20px;
        padding: 2rem;
        display: flex;
        gap: 20px;
        margin-bottom: 15px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05);

        .right {
            // background-color: red;
            width: 100%;

            .top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                
                .ltop {
                    .name {
                        font-size: 24px;
                        font-weight: 700;
                        margin-bottom: 4px;
                    }
                    .location {
                        span {
                            color: #F36B09;
                            
                        }
                    }
                    .owner {
                        margin-top: 4px;

                        span {
                           border-bottom: 1px solid gray;
                        }
                    }
                }
                .rtop {
                    color: #F36B09;
                    font-size: 18px;
                    font-weight: 700;
                    transform: translateY(3px);
                }
            }

            .banner {
                display: flex;
                gap: 30px;
                background-color: #FDE9DA;
                padding: .6rem 1rem;
                border-radius: 5px;
                margin-bottom: 10px;

                p {
                    font-weight: 700;
                    i {
                        margin-right: 7px;
                        font-weight: 400;
                    }
                    .fa-check {
                        color: #03A66D;
                    }
                    .fa-times {
                        color: crimson;
                    }
                }
            }

            .desc {
                font-size: 14px;
                margin-bottom: 10px;
                line-height: 1.7;
            }

            .more {
                margin-top: 20px;
                font-weight: 700;
                cursor: pointer;

                i {
                    transform: translateY(1px);
                }
            }

            .inprojects {
                
                .row {
                    display: flex;
                    justify-content: space-between;
                    padding: .5rem 0;
                    align-items: center;
                    border-bottom: 1px solid rgb(164, 164, 164);

                    .price {
                        color: #F36B09;
                        font-weight: 700;
                    }

                    .size {
                        color: #1E2329;
                    }

                    button {
                        background-color: #F36B09;
                        color: #fff;
                        font-size: 14px;
                        cursor: pointer;
                        outline: none;
                        border: none;
                        padding: 10px 17px;
                        border-radius: 6px;
                        font-weight: 600;
                        font-family: 'Quicksand', sans-serif;
                    }
                }
            }
        }
    }
}