.property-deets {
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
    gap: 150px;

    .lcont {
        flex: 0 1 600px;

        form {
            margin-top: 25px;

            .inputx {
                margin-bottom: 25px;
                display: flex;
                align-items: baseline;

                input {
                    transform: scale(1.7);
                    margin-right: 20px;
                }
                p {
                    // color: #a4a49d;
                }
            }

            button {
                background-color: #F36B09;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                outline: none;
                border: none;
                height: fit-content;
                padding: 10px 17px;
                border-radius: 6px;
                font-weight: 600;
                font-family: 'Quicksand', sans-serif;

                i {
                    margin-left: 10px;
                }
            }

            .sm-input {
                flex: 1 1 49%;

                

                label {
                    font-weight: 500;
                    color: #1E2329;
                }
                select {
                    width: 100%;
                    margin-top: 10px;
                    background: #F5F5F5;
                    border: 1px solid #DDE5E9;
                    box-sizing: border-box;
                    border-radius: 6px;
                    padding: 12px;
                    outline: none;
                    font-family: 'Quicksand', sans-serif;
                }
            }

            .togs {
                display: flex;
                gap: 30px;
                align-items: center;

                ul {
                    display: flex;
                    gap: 12px;
                    align-items: center;

                    li {
                        list-style: none;
                        padding: 14px 22px;
                        background: #F5F5F5;
                        border-radius: 10px;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }

            .input {
                margin-bottom: 25px;
                position: relative;

                .top {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    margin-bottom: 20px;
                    margin-top: 20px;

                    .sm-input {
                        .tt {
                        font-weight: 700;
                        color: #1E2329;
                        font-size: 15px;
                    }
                    }

                    
                }

                label {
                    font-weight: 700;
                    color: #1E2329;
                    font-size: 15px;
                    
                }
                
                input,
                select {
                    width: 100%;
                    margin-top: 10px;
                    background: #F5F5F5;
                    border: 1px solid #DDE5E9;
                    box-sizing: border-box;
                    border-radius: 6px;
                    padding: 12px;
                    outline: none;
                    font-family: 'Quicksand', sans-serif;
                }
                i {
                    position: absolute;
                    right: 4%;
                    top: 44%;
                    transform: scale(.8);
                    color: #8C8CA1;
                }
                .perm {
                    background-color: #FAFCFE;
                    border: none;
                    color: #BFBFB7;
                    font-weight: 600;
                }
                .info {
                    font-size: 12px;
                    font-weight: 600;
                    color: #004FC4;
                    margin-top: 10px;
                    cursor: pointer;
                }
            }
        }
        .dir {
            color: #1E2329;
    
            svg {
                transform: translateY(2px);
                margin: 0 10px;
            }
        }
        h2 {
            margin-top: 10px;
        }
    }
    .rcont {
        flex: 1 1 500px;

        .box {
            // flex: 0 0 400px;
            margin-top: 80px;
            background: #FAFAFC;
            border-radius: 20px;
            padding: 2.3rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 250ms ease;
    
            &:hover {
                background-color: #F36B09;
                color: #fff !important;
            }
    
            img {
                margin-right: 20px;
                width: 18%;
            }
    
            .top {
                font-weight: 700;
            }
            .para {
                font-size: 15px;
                margin-top: 5px;
            }
        }
    }
}